body {
  font-family: 'Cabin', sans-serif;
  background-color: rgb(0,88,188);
  color: rgb(235,235,235);
  background-image: url("http://res.cloudinary.com/dzo2s4ovl/image/upload/v1489437880/bluegridreduced_hgbdvi.jpg");
  background-size: cover;
}

#main-section {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
}

h1 {
  font-size: 45px;
}

#title-section {
  text-align: center;
}

#grid-section {
  text-align: center;
}

.number-entry {
  font-size: 26px;
  width: 20px;
  margin-top: 5px;
  text-align: center;
}

#button {
  margin-top: 5px;
}

#instructions-container {
  width: 50%;
  margin: 0 auto;
}

#instructions {

}

#results-section {
  margin-top: 10px;
  text-align: center;
  margin-bottom: 20px;
}

#results-area {
  /*width:100%;*/
  height: 600px;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
  padding: 5px 5px 5px 5px;
}

#solution-title {
  text-decoration: underline;
}

.solutionP {
  font-size: 25px;
  float: left;
  margin-right: 40px;
}

.solutionSpace {
  float: left;
  font-size:25px;
  color: Transparent;
}
